
#user-info {
    display: none;
    text-align: center;
    align-items: center;
}

.auth #user-info {
    display: block;
    font-family: 'arial', sans-serif;
   
}

.auth #login {
    display: none;
}


antiquewhite