





/*
	color scheme 3
	Orange Purple Grey White
*/

:root {
	--main-color: #C297E6;
	--complement: #FF8D54;
	--accent-one: #E8A768;
	--accent-two: #E8E8E8;
	--accent-three: #424040;
	--text-color: var(--accent-two);
	--main-bg-color: var(--accent-three);

	/* Darkgrey */

}

*
/*
	color scheme 2
	brown lightgreen
*/

:root {
	--main-color: #ffffff;
	--complement: #B2FFBF;
	--accent-one: #FFDEBE;
	--accent-two: #D9FFE8;
	--accent-three: #6E5A47;
	--text-color: var(--accent-two);
	--main-bg-color: var(--accent-three);

	/* Brown */

}

*
/* 
	Color Scheme 1-
    Gold and Silver
	
*/

:root {
	--main-color: #7F7C83;
	--complement: #DFDAE6;
	--accent-one: #BAB6BF;
	--accent-two: #DBC76E;
	--accent-three: #000000;
	--text-color: var(--accent-two);
	--main-bg-color: var(--accent-three);

	/* Black */
}

* * {
	color: var(--text-color);
	background-color: var(--main-bg-color);
}


em,
u,
b,
strong,
sup,
small,
acronym {
	color: var(--complement);

}

.topnav a {
	text-shadow: -1px 0 var(--main-color), 1px 0 #424040, 1px 0 var(--accent-two), 0 -1px var(--complement);
}

.topnav li {
	background-color: var(--main-color);
}

.topnav a:hover {

	color: var(--main-color);
}

#login,
#user-info {
	color: var(--complement);
}

input {
    font-family: 'russo one', cursive;
	color: var(--complement);
    
    
    
}

::placeholder{
    color: var(--main-color);
    font-family: 'russo one', cursive;
}


button {
	color: var(--accent-two);
}

#logo a {
	text-shadow: -2px 0 var(--main-color), 0 2px #E8E8E8, 0 1px var(--accent-one), 0 -1px #424040;
}


a {
	color: var(--complement);
	text-shadow: -1px 0 var(--accent-three),
		1px 0 var(--accent-one),
		1px 0 var(--accent-two),
		0 -1px var(--main-color);
}

#social {
	background-color: var(--accent-two);
}


h1,
h2,
h3,
h4 {
	color: var(--accent-one);
}


#copyright {
	color: var(--main-color);
}

figcaption img {
	color: var(--accent-one);
}

figcaption {
	text-shadow: -1px 0 var(--complement), 0 1px var(--accent-two), 1px 0 var(--main-color), 0 -1px var(--accent-three);
    
    
}

a:hover,
a:active {
	color: var(--main-color);
}

button:hover,
button:active {
	
    color:var(--main-color);
    border-color: var(--complement);
}

span.highlight {
	background-color: var(--main-color);
	color: var(--accent-three);
}

h1,
h2,
h3 {
	text-shadow: -1px 0 var(--accent-three), 0 .2px var(--accent-two), .1px 0 var(--accent-one), 0 -1px var(--main-color);
}

.new,
.table {
	color: var(--main-color);
}

p.three {
	text-shadow: 0px .5px 0px var(--main-color);
}


textarea {
	color: var(--complement);
	background-color: #000000;
    font-family: 'arial';
}


#login-message,#error-message {
    font-family: 'arial';
    color: indianred;
    
}
