#posts {}




.post {
	font-family: var(--serious-font);
	border: double;

}

.post .text {
	color: var(--text-color);
}

.post .author {
	color: var(--complement);
}

.post .date {
	color: var(--main-color);
	font-family: var(--text-font), cursive;
}

textarea {
	background-color: #000000;
	font-family: var(--serious-font);

}
