#container {
	max-width: 800px;
	margin: 0 auto;
	
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: px max-content max-content ;
    
    column-gap: 1em;
    row-gap
    
}

img {
	width: 100%;
}

#title {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row: 1;


}

#menu {
	grid-column: 1 / 1;
	grid-row: 2;
}

#login {
	grid-column: 3 / span 1;
	grid-row: 2;
}

#social{
    grid-column: 3 / 1;
    grid-row: 3
    
    
}

#profile{
    grid-column: 3 / span 1;
	grid-row: 1;
    
    
}


 #main {
   grid-column: 2 / span 1;
   grid-row: 1 / span 2;
}

