input,
button {
    font-size: 1em;
    font-family: 'Mclaren', sans-serif;
    border-style: dashed;
    background-color: lightgray; 
    margin-bottom: 7px;
}

input:focus,
button:focus {
    outline: none;
}

input {
    border-bottom: 3px dashed lightseagreen;
    text-align: center;
    color: lightseagreen;
}

button {
    background: #000000;
    border-radius: 1em;
    border-style: dashed;
    border-color: lightseagreen;
    color: #FF8C00;
    text-shadow: -1px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -1px lightseagreen;
    
}

#create-account {
    display: flex;
    justify-content: space-between;
}

#create-account input,
#create-account button {}
